spring:
  datasource:
    url: jdbc:mysql://localhost:3306/flowlog?serverTimezone=Asia/Tokyo&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: JsDev@2025
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080